<!DOCTYPE html>
<html>
<head>
  <title>Railspinterest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
</head>

<style type="text/css">


</style>

<body>
	

	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#"> </a>
	  </div>

	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse navbar-ex1-collapse">
	    <ul class="nav navbar-nav">
	      <!--
	      <li><a href="#">Why Crawlsy</a></li>
	      <li><a href="#">Search</a></li>
	    	-->
	      
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li><a href="#">Login</a></li>
	      <li><a href="#">About</a></li>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</div><!--container-->
	</nav>

	<div class="splashpage">
		<div class="container">
			<div class="banner">
				Simple, Quality Data.
			</div>
			<div class="describe">
				Crawlsy indexes what the world is saying about your products. Harvest this resource today. 
			</div>
			<a href="#" style="text-decoration:none;"><div class="signup">
				Signup
			</div></a>
		</div>
	</div>
	<div class="container">

	
		<% flash.each do |name, msg|%>
			<%= content_tag(:div, msg, class: "alert alert-info") %>
		<% end %>
		<%= yield %>


	</div>
	
</body>
</html>
